body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px/36px;
	background-color: #31E1F7;
}

.header {
	text-align: center;
	box-sizing: border-box;
}

.header h1 {
	font-size: 75px;
	margin: 50px 0;
	color: #400D51;
}

.navbar {
	background-color: #400D51;
	padding: 5px 5px 5px 5px;
}

.navbar li {
		display: inline-block;
		margin-right: 100px;
		margin-left: 100px;
}

.navbar li a {
	text-decoration: none;
	color: #31E1F7;
	transition: 0.2s ease;
}

.navbar li a:hover {
	font-size: 1.5em;
	color: #FF7777;
}

.container {
	width: 1000px;
	margin: auto;
	box-sizing: border-box;
}

.banner {
	height: 200px;
	background-color: #D800A6;
	background-image: url(img/ikan.png);
}