body {
	font-family: 'Poppins', sans-serif;
}

.header {
	text-align: center;
	box-sizing: border-box;
}

.header h1 {
	font-size: 75px;
}

.navbar {
	background-color: salmon;
	margin: auto;
	padding: 5px 5px 5px 5px;
}

.navbar li {
		display: inline-block;
		margin-right: 100px;
		margin-left: 100px;
}

.navbar li a {
	text-decoration: none;
	color: black;
	transition: 0.2s ease;
}

.navbar li a:hover {
	font-size: 1.5em;
	color: blue;
}

.banner {
	height: 200px;
	background-color: lightblue;
}